.button {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #222;
  border-radius: 4px;
  color: #222;
  cursor: pointer;
  font-size: 12px;
  padding: 4px 12px;
  transition: all 0.2s;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &:disabled {
    background-color: #ddd;
    border: 1px solid #bbb;
    color: #999;
    cursor: not-allowed;
  }
}
